<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Choose a Bank/Institution</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="filtered.length<1">

    <ion-item (click)="closeModal(bank)" *ngFor="let bank of banks">
  
      <div class="app-bank">
        <h4>{{ bank.name }}</h4>
      </div>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="filtered.length>0">

    <ion-item (click)="closeModal(bank)" *ngFor="let bank of filtered">
      
      <div class="app-bank">
        <h4></h4>
      </div>
    </ion-item>

  </ion-list>
</ion-content>