<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Send Money</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="form">

    <form #regForm="ngForm">
      <div *ngIf="remmitPair?.quote_currency">
      <h5 class="text-bold">You are sending money to {{remmitPair.quote_currency.country.name}}</h5>
      <h3 class="text-success">Rate: 1 {{remmitPair.quote_currency.code}} =  {{remmitPair.base_currency.symbol}} {{remmitPair.buying_price | number}}</h3>
    </div>

      <p class="error" *ngIf="(amount.touched || amount.dirty) && !amount.valid">A valid amount is required</p>
    <ion-item>
      <ion-label for="amount" position="stacked">
        <ion-icon name="cash-outline"></ion-icon> 
        ENTER AMOUNT ({{remmitPair?.base_currency?.code}})</ion-label>
      <ion-input 
        minlength="2" type="tel" 
        #amount="ngModel" name="amount" 
        (keyup)="calculateEquivalent()" 
       [(ngModel)]="data.amount"
       currencyMask 
        id="amount" required></ion-input>
    </ion-item>

    <ion-item *ngIf="data.equivalent>0" lines="full">
      <ion-label for="amount" position="stacked" class="text-bold"><ion-icon name="cash-outline"></ion-icon> THEY RECEIVE</ion-label>
      <h3 class="text-success text-bold">{{ getEquivalentLabel() }} {{data.equivalent | number}}</h3>
    </ion-item>

    <br>

    <ion-item (click)="chooseFundsSource()">
      <ion-label *ngIf="!data.funds_source">Source of funds</ion-label>
      <ion-label *ngIf="data.funds_source">{{data.funds_source.description}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <br>

  <fieldset>
      <legend>Funds Transfer to Zeal Pesa</legend>
    
      <ion-item (click)="chooseChannel(false)">
        <ion-label *ngIf="!data.channel">Send Funds Through</ion-label>
        <ion-label *ngIf="data.channel">{{data.channel.name}}</ion-label>
        <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
      </ion-item>

      <br>
      
      <small>Choose your bank</small>
      <ion-item (click)="chooseBank()">
        <ion-label *ngIf="!data.bank">Bank/Institution</ion-label>
        <ion-label *ngIf="data.bank">{{data.bank.name}}</ion-label>
        <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
      </ion-item>

      <small>Transfer Option</small>
      <ion-item (click)="chooseTransferOption()">
        <ion-label *ngIf="!data.tranferOption">Choose Transfer Option</ion-label>
        <ion-label *ngIf="data.tranferOption">{{data.tranferOption.option_name}}</ion-label>
        <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
      </ion-item>

      <div *ngIf="accounts.length>0">
        <h5>Choose Account</h5>
      <ion-card  *ngFor="let account of accounts" >
        <ion-card-content (click)="chooseZealAccount(account)" [class]="(account.selected)?'selected':''">
          <h5>{{ account?.name || '' }}</h5>
          <h6>{{ account?.account_number || ''}}</h6>
        </ion-card-content>
      </ion-card>
    </div>

      <br>
  </fieldset>

  <fieldset class="flexed">
    <legend>Proof of funds transfer</legend>
    <p class="text-grey">Attach bank proof of transfer</p>
    <ion-img (click)="getImage()" class="attachment" [src]="filePreview"></ion-img>
    <br>
</fieldset>

  <fieldset>
    <legend>Funds to You</legend>
    <p class="text-grey">How will the beneficiary receive funds?</p>
    <ion-item (click)="chooseChannel(true)">
      <ion-label *ngIf="!data.disburseChannel">Receive Funds Through</ion-label>
      <ion-label *ngIf="data.disburseChannel">{{data.disburseChannel.name}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <br>

    <ion-item (click)="chooseBank(true)">
      <ion-label *ngIf="!data.disburseBank">Bank/Institution</ion-label>
      <ion-label *ngIf="data.disburseBank">{{data.disburseBank.name}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <ion-item (click)="choosePurpose()">
      <ion-label *ngIf="!data.funds_purpose">Purpose of funds</ion-label>
      <ion-label *ngIf="data.funds_purpose">{{data.funds_purpose.description}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <div *ngIf="!data.requirePickup">
    <p  class="error" *ngIf="(disburseAccount.touched || disburseAccount.dirty) && !disburseAccount.valid">A valid account is required</p>
   
    <ion-item >
      <ion-label for="disburseAccount" position="stacked">
        <ion-icon name="cash-outline"></ion-icon> 
        ACCOUNT NO.</ion-label>
      <ion-input 
        minlength="2" type="tel" 
        #disburseAccount="ngModel" name="disburseAccount" 
       (keyup)="calculateEquivalent()" 
       [(ngModel)]="data.disburseAccount"
       currencyMask 
        id="disburseAccount" required></ion-input>
    </ion-item>

  </div>

  <div *ngIf="!data.requirePickup">
  <ion-item (click)="chooseCity()">
    <ion-label *ngIf="!data.city">Choose City</ion-label>
    <ion-label *ngIf="data.city">{{data.city.name}}</ion-label>
    <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
  </ion-item>

  <ion-item (click)="chooseLocation()">
    <ion-label *ngIf="!data.location">Choose Pickup Point</ion-label>
    <ion-label *ngIf="data.location">{{data.location.location_name}}</ion-label>
    <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
  </ion-item>
</div>

    <br>
</fieldset>

<br>
    <ion-button color="primary" (click)="submitOrder()" [disabled]="!regForm.valid" mode="ios" expand="block">Continue</ion-button>
    <br>
    <br>
  </form>
  </div>
</ion-content>