.wrapper{
    margin: 2%;
    border: 1px rgb(188, 185, 185) solid;
    border-radius: 8px;
    min-width: 96%;
    max-width: 96%;
    display: flex;
    flex-direction: column;
    padding: 0px!important;

    .top{
        width: 100%;
        padding: 1%;
        padding-bottom: 2%;
    }

    .bottom{
        width: 100%;
        padding: 1%;
        background-color: rgb(227, 225, 225);
        border-bottom-left-radius:8px;
        border-bottom-right-radius:8px;
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .currency_symbol{
        font-weight: bold;
        color:var(--ion-color-primary);

        .flag{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
    .price_label{
        color: rgb(162, 162, 162);
        font-size: 0.7rem;;
    }

    .price_amount{
        font-weight: bold;
        font-size: 0.8
        rem;
        color:var(--ion-color-primary);
    }


    .currency_name{
        color: rgb(162, 162, 162);
        font-size: 8pt;
    }
}

ion-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}