<div class="wrapper">
  <div class="top">
    <ion-row>
      <ion-col size="4">
        <span class="currency_symbol"><img class="flag" src="{{'data:image/jpg;base64,' + currencyPair.quote_currency.country.flag}}" /> {{ currencyPair.quote_currency.code }}</span>
        <span class="currency_name">{{ currencyPair.quote_currency.name }}</span>
      </ion-col>
      <ion-col size="4">
        <span class="price_label">WE BUY</span>
        <span class="price_amount">{{ currencyPair.base_currency.symbol }} {{ currencyPair.buying_price }}</span>
      </ion-col>
      <ion-col size="4">
        <span class="price_label">WE SELL</span>
        <span class="price_amount">{{ currencyPair.base_currency.symbol }} {{ currencyPair.selling_price }}</span>
      </ion-col>
    </ion-row>
    
  </div>
  <div class="bottom">
    
    <ion-button fill="solid" size="small" color="danger" (click)="startExchange('exchange',true)">SELL USD</ion-button>
    <ion-button fill="solid" size="small" color="success" (click)="startExchange('exchange',false)">BUY USD</ion-button>
  </div>
</div>
