<div class="wrapper">
  <div class="top">
    <ion-row>
      <ion-col size="4">
        <span class="currency_symbol">USD</span>
        <span class="currency_name">US Dollar</span>
      </ion-col>
      <ion-col size="4">
        <span class="price_label">WE BUY</span>
        <span class="price_amount">UGX 3,800</span>
      </ion-col>
      <ion-col size="4">
        <span class="price_label">WE SELL</span>
        <span class="price_amount">UGX 3,830</span>
      </ion-col>
    </ion-row>
    
  </div>
  <div class="bottom">
    
    <ion-button fill="solid" size="small" color="danger">SELL USD</ion-button>
    <ion-button fill="solid" size="small" color="success">BUY USD</ion-button>
  </div>
</div>
