ion-content{
   display: flex;
   --background: url(../../../assets/images/auth-bg.jpg) no-repeat;
   background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px!important;
    margin-bottom: 0px!important;

   
    .top{
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 50vh;
      position: relative;
      background-color: var(--ion-color-primary-transparent);
      ion-slides{
        top: 50px;
        width: 100%;
        ion-slide{
          font-size: 0.8rem;
          text-align: justify;
          color: rgb(241, 243, 234);
          padding:20px
        }
      }
      .heading{
        min-width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 17pt;
        padding-bottom: 30px;
        color: var(--ion-color-secondary);
        span{
          color: #fff;
          font-weight: lighter;
        }
      }

    }

   

    .bottom{
      padding-top: 5%;
      display: flex;
      justify-content: center;
      min-height: 50vh;
      background-color: #fff;
      border-top: 3px solid var(--ion-color-secondary);
      p{
        padding: 4px;
        margin: 0px;
      }
      ion-label{
        color:grey;
      }
      ion-icon{
        font-size: 12pt;
        color:var(--ion-color-primary);
      }

      ion-button{
        margin-top: 15px;
      }

    }
    
}