ion-content{
  --background: var(--ion-background-color) url(../../../assets/images/policy-bg.svg) no-repeat;
   .content{
     padding: 10px;
     padding-top: 5px;
    }

    h3{
      color:var(--ion-color-primary);
      padding: 10px;
    }

    p{
      text-align: justify;
    }

    
  }