<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
 
    <form #regForm="ngForm">
    <p class="error" *ngIf="(firstName.touched || firstName.dirty) && !firstName.valid">A valid firstName is required</p>
    <ion-item>
      <ion-label for="firstName" position="floating">First Name</ion-label>
      <ion-input minlength="3" type="text" #firstName="ngModel" name="firstName" [(ngModel)]="data.firstName" id="firstName" required></ion-input>
      <ion-icon slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <br>

    <p class="error" *ngIf="(lastName.touched || lastName.dirty) && !lastName.valid">A valid lastName is required</p>
    <ion-item>
      <ion-label for="lastName" position="floating">Last Name</ion-label>
      <ion-input minlength="3" type="text" #lastName="ngModel" name="lastName" [(ngModel)]="data.lastName" id="lastName" required></ion-input>
      <ion-icon slot="end" name="person-outline"></ion-icon>
    </ion-item>
    <br>

    
    <p class="error" *ngIf="(email.touched || email.dirty) && !email.valid">A valid email is required</p>
    <ion-item>
      <ion-label for="email" position="floating">Email</ion-label>
      <ion-input minlength="3" type="text" #email="ngModel" name="email" [(ngModel)]="data.email" id="email" required></ion-input>
      <ion-icon slot="end" name="mail-outline"></ion-icon>
    </ion-item>
    <br>

    <p class="error" *ngIf="(phoneNumber.touched || phoneNumber.dirty) && !phoneNumber.valid">A valid phoneNumber number is required</p>
    <ion-item>
      <ion-label for="phoneNumber" position="floating">Phone Number</ion-label>
      <ion-input minlength="9" type="text" #phoneNumber="ngModel" name="phoneNumber" [(ngModel)]="data.phoneNumber" id="phoneNumber" required></ion-input>
      <ion-icon slot="end" name="call-outline"></ion-icon>
    </ion-item>
    <br>

    <p class="error" *ngIf="(password.touched || password.dirty) && !password.valid">Provide a valid password</p>
    <ion-item>
      <ion-label for="password" position="floating">Password</ion-label>
      <ion-input [type]="passType" minlength="4" #password="ngModel" name="password" [(ngModel)]="data.password" id="password" required></ion-input>
      <ion-icon style="z-index: 2;" slot="end" (click)="toggleType()" name="eye"></ion-icon>
   </ion-item>
    <br>
    <ion-button color="primary" (click)="doRegister()" [disabled]="!regForm.valid" mode="ios" expand="block">Register</ion-button>
  </form>
</ion-content>