ion-content{
    --background: var(--ion-background-color);;
}
.greeting{
    background-image: url(../../../assets/images/dash.jpg);
    background-color: rgba(11, 31, 54, 0.6);
    background-size: cover;
    min-width: 94%;
    min-height: 13vh;
    margin: 3%;
    color: azure;
    font-weight: bold;
    border-radius: 6px;
    text-align: justify;
    ion-row{
        min-height: 13vh;
        flex: 1;
        padding: 1%;
        border-radius: 6px;
        background-color: rgba(11, 31, 54, 0.6);
    }
    ion-icon{
        padding-right: 10px;
    }
}


.title{
  font-size: 13pt;
  color: white;
  font-weight: bold;
  span{
    color: var(--ion-color-secondary);
    font-weight: lighter;
  }
}


.rate-board{
  display: none;
  padding-bottom: 20px;
  .sub-title{
    padding-left: 3%;
    font-size: 12pt;
    color:grey;
  }
}

.transactions{
  padding: 10px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: white;
  margin: 5px;
  padding-bottom: 50px;
}

.widgets{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
  padding-bottom: 2%;
  flex-wrap: wrap;
  .widget{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:gray;
    //var(--ion-color-primary);
    padding: 10px;
    background-color: white;
    min-width: 46%;
    max-width: 46%;
    min-height: 120px;
    margin: 2%;
    margin-top: 2.5%;
    box-shadow: 1px 1px 4px 1px var(--ion-color-primary);
    ion-icon{
      margin-bottom: 7px;
      font-size: 3.7rem;
      color: var(--ion-color-secondary);
    }
    span{
      font-size: 1.3rem;
    }

  -webkit-animation: glowing 1700ms infinite;
  -moz-animation: glowing 1700ms infinite;
  -o-animation: glowing 1700ms infinite;
  animation: glowing 1700ms infinite;

  }
}


@-webkit-keyframes glowing {
  0% {  -webkit-box-shadow: 0 0 3px var(--ion-color-primary); }
  50% {  -webkit-box-shadow: 0 0 6px var(--ion-color-primary); }
  100% {  -webkit-box-shadow: 0 0 3px var(--ion-color-primary); }
}

@-moz-keyframes glowing {
  0% {  -moz-box-shadow: 0 0 3px var(--ion-color-primary); }
  50% {  -moz-box-shadow: 0 0 6px var(--ion-color-primary); }
  100% {  -moz-box-shadow: 0 0 3px var(--ion-color-primary); }
}

@-o-keyframes glowing {
  0% {  box-shadow: 0 0 3px var(--ion-color-primary); }
  50% {  box-shadow: 0 0 6px var(--ion-color-primary); }
  100% {  box-shadow: 0 0 3px var(--ion-color-primary); }
}

@keyframes glowing {
  0% {  box-shadow: 0 0 3px var(--ion-color-primary) }
  50% {  box-shadow: 0 0 6px var(--ion-color-primary); }
  100% {  box-shadow: 0 0 3px var(--ion-color-primary) }
}
