<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title">
      <span>Zeal</span>
        Pesa
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="greeting">
    <ion-row>
      <ion-col size="12">
        Hello {{ user.name }}
        <p><small>Account Number: </small><br> #0045657</p>
      </ion-col>
    </ion-row>
  </div>

  <div class="widgets">
    <ion-card class="widget" *ngFor="let widget of widgets" (click)="goTo(widget.link)" >
      <ion-icon [name]=" widget.icon"></ion-icon>
      <span>{{ widget.name }}</span>
    </ion-card>
  </div>

  <div class="rate-board">
    <div class="title"><small><ion-icon name="reload-outline"></ion-icon> Last updated 2 minutes ago</small></div>
    <app-currencypair *ngFor="let pair of mainPairs" [currencyPair]="pair" ></app-currencypair>
  </div>

</ion-content>

