<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Currency Exchange</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <div class="form">

    <form #regForm="ngForm">
      <h5 class="text-bold">You are now {{exchangePair.isSelling?'Selling':'Buying'}} {{exchangePair.quote_currency.name}}</h5>
      <h3 class="text-success">1 {{exchangePair.quote_currency.code}} =  {{exchangePair.base_currency.symbol}} {{exchangePair.selling_price | number}}</h3>
      
      <p class="error" *ngIf="(amount.touched || amount.dirty) && !amount.valid">A valid amount is required</p>
    <ion-item>
      <ion-label for="amount" position="stacked">
        <ion-icon name="cash-outline"></ion-icon> 
        ENTER AMOUNT ({{ getBaseLabel() }})</ion-label>
      <ion-input 
        minlength="2" type="tel" 
        #amount="ngModel" name="amount" 
       (keyup)="calculateEquivalent()" 
       [(ngModel)]="data.amount"
       currencyMask 
        id="amount" required></ion-input>
    </ion-item>

    <ion-item *ngIf="data.equivalent>0" lines="full">
      <ion-label for="amount" position="stacked" class="text-bold"><ion-icon name="cash-outline"></ion-icon> YOU RECEIVE</ion-label>
      <h3 class="text-success text-bold">{{ getEquivalentLabel() }} {{data.equivalent | number}}</h3>
    </ion-item>

    <br>

    <ion-item (click)="chooseFundsSource()">
      <ion-label *ngIf="!data.funds_source">Source of funds</ion-label>
      <ion-label *ngIf="data.funds_source">{{data.funds_source.description}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <br>

  <fieldset>
      <legend>Funds Transfer to Zeal Pesa</legend>
    
      <ion-item (click)="chooseChannel()">
        <ion-label *ngIf="!data.channel">Send Funds Through</ion-label>
        <ion-label *ngIf="data.channel">{{data.channel.name}}</ion-label>
        <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
      </ion-item>

      <br>
      
      <small>Choose your bank</small>
      <ion-item (click)="chooseBank()">
        <ion-label *ngIf="!data.bank">Bank/Institution</ion-label>
        <ion-label *ngIf="data.bank">{{data.bank.name}}</ion-label>
        <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
      </ion-item>

      <small>Transfer Option</small>
      <ion-item (click)="chooseTransferOption()">
        <ion-label *ngIf="!data.tranferOption">Choose Transfer Option</ion-label>
        <ion-label *ngIf="data.tranferOption">{{data.tranferOption.option_name}}</ion-label>
        <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
      </ion-item>

      <div *ngIf="accounts.length>0">
        <h5>Choose Account</h5>
      <ion-card  *ngFor="let account of accounts" >
        <ion-card-content (click)="chooseZealAccount(account)" [class]="(account.selected)?'selected':''">
          <h5>{{ account?.name || '' }}</h5>
          <h6>{{ account?.account_number || ''}}</h6>
        </ion-card-content>
      </ion-card>
    </div>

      <br>
  </fieldset>

  <fieldset class="flexed col">
    <legend>Proof of funds transfer</legend>
    <p class="text-grey">Attach bank proof of transfer</p>
    <img (click)="getImage()" class="attachment" [src]="filePreview"/>
    <br>
</fieldset>

  <fieldset>
    <legend>Funds to You</legend>
    <p class="text-grey">How do you want to receive your funds?</p>

    
    <ion-item (click)="choosePurpose()">
      <ion-label *ngIf="!data.funds_purpose">Purpose of funds</ion-label>
      <ion-label *ngIf="data.funds_purpose">{{data.funds_purpose.description}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>


    <ion-item (click)="chooseChannel(true)">
      <ion-label *ngIf="!data.disburseChannel">Receive Funds Through</ion-label>
      <ion-label *ngIf="data.disburseChannel">{{data.disburseChannel.name}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <br>

    <div *ngIf="!data.isPickup">

    <ion-item (click)="chooseBank(true)">
      <ion-label *ngIf="!data.disburseBank">Bank/Institution</ion-label>
      <ion-label *ngIf="data.disburseBank">{{data.disburseBank.name}}</ion-label>
      <span slot="end"><ion-icon name="chevron-down-outline"></ion-icon></span>
    </ion-item>

    <p class="error" *ngIf="(disburseAccount.touched || disburseAccount.dirty) && !disburseAccount.valid">A valid account is required</p>
   
    <ion-item>
      <ion-label for="disburseAccount" position="stacked">
        <ion-icon name="cash-outline"></ion-icon> 
        ACCOUNT NO.</ion-label>
      <ion-input 
        minlength="2" type="tel" 
        #disburseAccount="ngModel" name="disburseAccount" 
       (keyup)="calculateEquivalent()" 
       [(ngModel)]="data.disburseAccount"
       currencyMask 
        id="disburseAccount" required></ion-input>
    </ion-item>
  </div>

  <div *ngIf="data.isPickup">

    
    <div *ngIf="beneficiaries.cash_beneficiaries.length>0">
      <h6>Choose From Previous Beneficiaries</h6>
    <ion-card  *ngFor="let account of beneficiaries.cash_beneficiaries" >
      <ion-card-content (click)="beneficiarySelected(account)" [class]="(account.selected)?'selected':''">
        <h5>{{ account?.names || '' }}</h5>
        <h6>{{ account?.account_no || ''}}</h6>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="data.splits.length>0">
    <h6>Transaction Beneficiaries</h6>
  <ion-card  *ngFor="let account of data.splits" >
    <ion-card-content>
      <h5>{{ account?.names || '' }}</h5>
      <h6>{{ account?.phone_number || ''}}</h6>
    </ion-card-content>
  </ion-card>
</div>

    <ion-button expand="block" (click)="addBeneficiary()" fill="outline" color="primary"><ion-icon name="add-circle-outline"></ion-icon> Add Benecifiary</ion-button>

  </div>

  <br>
</fieldset>

<br>
    <ion-button color="primary" (click)="submitOrder()" [disabled]="!regForm.valid" mode="ios" expand="block">Continue</ion-button>
    <br>
    <br>

  </form>
  </div>
</ion-content>